.global-btn-container {
  visibility: hidden;
  opacity: 0;

  transition: visibility 0.3s, opacity 0.3s;
}

.global-btn-container.show {
  visibility: visible;
  opacity: 0.75;
}

.global-btn-up {
  position: fixed;

  bottom: 0;
  right: 0;

  margin: 1em;
  width: 2em;
  height: 2em;

  z-index: 333;

  border: 3px solid $brand-color;
  border-radius: 5px;

  font-size: large;
  line-height: 1.75em;

  color: $brand-color;
  background-color: transparent;
}

.global-btn-up:hover {
  cursor: pointer;
}

.global-btn-up:active {
}

.global-btn-up:after {
}

.global-right-controller-container {
}

.share-btn {
  height: 2.5em;
  width: 2.5em;

  cursor: pointer;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.share-btn.share-btn-vanilla {
  // background-color: $grey-color-dark;

  padding: 2px;
}
.share-btn.share-btn-vanilla > svg > circle,
.share-btn.share-btn-vanilla > svg > path {
  fill: $brand-color-dark;
}
