.right-toc-container {
  margin-left: -1.25em;
  ul {
    list-style: none;

    li {
      height: auto;
    }
  }

  a {
    white-space: nowrap;
    font-size: $small-font-size;
    color: $brand-color;
  }
  a:hover {
    color: $brand-color;
  }

  a.toc-highlighted {
    font-size: $base-font-size;
    font-weight: bold;
  }
}
