.center {
  text-align: center;
}

.middle-big {
  font-size: $base-font-size * 1.25;
}

.big {
  font-size: $base-font-size * 2.0;
}

.middle-small {
  font-size: $base-font-size * 0.75;
}

.small {
  font-size: $base-font-size * 0.5;
}