.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.center {
  text-align: center !important;
}

.middle-big {
  font-size: $base-font-size * 1.25;
}

.big {
  font-size: $base-font-size * 2;
}

.middle-small {
  font-size: $base-font-size * 0.75;
}

.small {
  font-size: $base-font-size * 0.5;
}

.rounded-edge img {
  border-radius: 5%;
}

.rounded-edge-16 img {
  border-radius: 16px;
}

.minus-top-margin {
  margin-top: -1rem;
}

hr {
  margin-bottom: 1rem;
}

.w-half > img {
  width: 50%;
}

.w-1-quarter > img {
  width: 25%;
}

.w-3-quarter > img {
  width: 75%;
}

.w-code-half {
  width: 50%;
}

.code-center {
  margin: auto;
}

.mb-lg {
  margin-bottom: 2rem;
}
