.language-json .err {
  color: #39872c !important;
  background-color: #00000000 !important;
}

.highlight .c1,
.highlight .cm {
  color: #39872c !important;
}

.highlight {
  border-radius: 1rem;
}

div.highlight {
  box-shadow: 0px 8px 6px -6px #1b1b1b;
}
