.language-json .err {
  color: #39872c !important;
  background-color: #00000000 !important;
}

.highlight .c1,
.highlight .cm {
  color: #39872c !important;
}

.highlight {
  border-radius: 1rem;
}

div.highlight {
  box-shadow: 0px 8px 6px -6px #1b1b1b;
}

.highlight {
  scrollbar-width: auto;
}

.highlight {
  ::-webkit-scrollbar {
    display: unset;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $grey-color-dark;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-track {
    background-color: $code-background-color;
    border-radius: 0 0 1rem 1rem;
  }
}
