// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
 * Smooth
 */
html {
  scroll-behavior: smooth;
}

/**
 * Page Fade Transition
 */

body > .page-content {
  animation: fadeInAnimation ease 0.75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * Remove Scrollbars
 */

* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.highlight {
  scrollbar-width: auto;
}

/**
 * Bottom link color
 */
.footer-col-wrapper a {
  color: $brand-color-dark;
}

/**
 * Site Navigator
 */
.site-nav {
  a.page-link {
    font-size: 1rem;
  }
}
.category-link-split {
  border-left: 1px solid $text-color;

  cursor: default;
  user-select: none;

  &:first-child {
    display: none;
  }
}

/**
 * Category button in a posting
 */
a.post-category {
  color: $grey-color;
}

/**
 * Youtube iframe
 */
.youtube-iframe {
  @include media-query($on-palm) {
    min-width: 0;
    width: 100%;
  }
}

/**
 * <a> tag not to turn blue
 */
a.a-not-colored,
a.a-not-colored:visited {
  color: $brand-color;
}
